.mar20t{
    margin-top:20px;
}
.patient-reg-item{
    margin-top:5px;
    
}
.sex{
   margin-bottom:20px;     
}
.block{
    display:block;
}
.mar10lr{
    margin-left:10px;
    margin-right:10px;
}
.txt-danger{
    color: red;
}