<div class="error-container" *ngIf="!visit_no">
  Please save doctor notes to save Details
</div>
<div class="row">
  <div class="col-md-12 align-end" *ngIf="!showPreviousTable">
    <button class="btn btn-success ms-2" (click)="displayPrevious()">
      Show Previous
    </button>
  </div>
  <div class="col-md-12 align-end" *ngIf="showPreviousTable">
    <div>
      <li class="mx-2">
        Visit#: <strong>{{ showVisitNo }}</strong>
      </li>
      <li class="mx-2">
        Visit Date: <strong>{{ showVisitDate | date : "dd-MM-yyyy" }}</strong>
      </li>
    </div>
    <ul class="pagination pointer">
      <li class="page-item" [ngClass]="{ disabled: recordIndex === 0 }">
        <a class="page-link" (click)="prevItem()">Previous</a>
      </li>
      <li
        class="page-item"
        [ngClass]="{
          disabled:
            recordIndex === undefined || recordIndex === getLastRecordIndex()
        }"
      >
        <a class="page-link" (click)="nextItem()">Next</a>
      </li>
    </ul>
  </div>
</div>
<form>
  <div class="margin-20l custom-card vet-dynamic-section-form" *ngFor="let section of sectionParamData">
    <div class="row">
      <div class="col-md-4 pg-10">
        <label class="form-label txt-b">{{ section.sub_heading }}</label>
      </div>
      <div class="col-md-4 pg-10">
        <label class="form-label">Right Eye</label>
      </div>
      <div class="col-md-4 pg-10">
        <label class="form-label">Left Eye</label>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 pg"
        style="display: flex"
        *ngFor="let property of section.details"
      >
        <div class="col-md-2">
          <label class="form-label pg-t">{{ property.column_name_text }}</label>
        </div>
        <div class="col-md-5 flex-align">
          <div class="col-1" >
            <app-multiselect *ngIf="property.column_name_type === 'LOV'" [rowData]="property" [left]="'_RE'"></app-multiselect>
          </div>
          <div class="col-5">
            <input
              type="text"
              class="form-control"
              [id]="setIDs(property.column_name_prefix, '_RE')"
            />
          </div>
          <div class="col-6">
            <textarea
              type="text"
              rows="1"
              class="form-control"
              [id]="setIDs(property.column_name_prefix, '_Remark_RE')"
            ></textarea>
          </div>
        </div>

        <div class="col-md-5 flex-align">
          <div class="col-5">
            <input
              type="text"
              class="form-control"
              [id]="setIDs(property.column_name_prefix, '_LE')"
            />
          </div>
          <div class="col-6">
            <textarea
              type="text"
              rows="1"
              class="form-control"
              [id]="setIDs(property.column_name_prefix, '_Remark_LE')"
            ></textarea>
          </div>
        </div>
      </div>
    </div>

    <div></div>
  </div>
</form>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 pointer">
    <button
      type="button"
      class="btn btn-success"
      (click)="saveValues()"
      *ngIf="!showPreviousTable"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="back()"
      *ngIf="showPreviousTable"
    >
      Back
    </button>
  </div>
  <div class="col-md-4"></div>
</div>
