<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img class="header-logo-svasta" [routerLink]="['/landing']">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="showHeader">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            OP
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item"  [routerLink]="'/apt-booking'" href="#">Appointment Booking</a></li>
            <li><a class="dropdown-item" [routerLink]="'/patient-reg'">Patient Registration</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdownMenuLink2"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Doctor Consultation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li class="dropdown-item" [routerLink]="'/doc-consult'">DOc Consult</li>
            <li class="dropdown-item" [routerLink]="'/patient-schedule'">Patient Schedule</li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PO
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/po'" href="#">PO</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/po-submission'" href="#">PO Submission</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/goods-receipt'" href="#">Goods Receipt</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Billing
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/billing'" href="#">Billing</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/invoice'" href="#">Invoice & Payment</a>
            </li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/adv-payment'" href="#">Advance
                Payment</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/print'" href="#">Print</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/insurance'" href="#">Insurance</a></li>
          </ul>
        </li>

        <!-- Insurance Summary -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pattientwise-report" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Insurance
          </a>
          <ul class="dropdown-menu" aria-labelledby="pattientwise-report">
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/insurance-summary'" href="#">Insurance Summary</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/insurance'" href="#">Insurance Entry</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pattientwise-report" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="pattientwise-report">
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/patientwise-report'" href="#">Patient Type wise Report</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/collectionwise-report'" href="#">Collectionwise Report</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/po-reports'" href="#">Po Invoice Summary</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/goods-reports'" href="#">Goods Receipt Reports</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/supplier-reports'" href="#">Supplier Payment Reports</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/payment-reports'" href="#">Receipt Payment Reports</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/stock-reports'" href="#">Stock Register Reports</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/collection-paymentwise-report'" href="#">Collection Paymentwise Report</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/outstanding-invwise-report'" href="#">Outstanding Invoice wise Report</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/outstanding-ptwise-report'" href="#">Outstanding Patient wise Report</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/collection-payment-wise'" href="#">Collection Payment wise Report</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/patient-listing'" href="#">Patient Listing</a></li>
          </ul>
        </li>

        <!-- supplier -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pattientwise-report" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Supplier
          </a>
          <ul class="dropdown-menu" aria-labelledby="pattientwise-report">
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/supplier-payment'" href="#">Supplier Payment</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/supplier-master'" href="#">Supplier Master</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/supplier-product'" href="#">Supplier Product Master</a></li>
            <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/patient-health'" href="#">Patient Health</a></li>
          </ul>
        </li>
        <!-- //EOD -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="'/eod'" href="#">EOD</a></li>
            <li><a class="dropdown-item" [routerLink]="'/pwd'" href="#">Reset Password</a></li>
          </ul>
        </li>
        <!-- //Master -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Master
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="'/account-master'" href="#">Account Master</a></li>
            <li><a class="dropdown-item" [routerLink]="'/doctor-master'" href="#">Doctor Master</a></li>
            <li><a class="dropdown-item" [routerLink]="'/inventory'" href="#">Inventory Config</a></li>
            <li><a class="dropdown-item" [routerLink]="'/main-supp'" href="#">Main to Supp</a></li>
            <li><a class="dropdown-item" [routerLink]="'/user-master'" href="#">User Master</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Receipts/Payments
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="'/payment-receipts'" href="#">Create</a></li>
            <li><a class="dropdown-item" [routerLink]="'/update-payreceipts'" href="#">Update</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" [routerLink]="'/product-master'" href="#">Product Master</a></li>
            <li><a class="dropdown-item" [routerLink]="'/product-master-listing'" href="#">Product Listing</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>