<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img class="app-logo" [routerLink]="['/landing']">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="showHeader">
      <ul class="navbar-nav menu-list">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-calendar-check"></i>
            OP
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" [routerLink]="'/apt-booking'" href="#"
                >Appointment System</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/patient-reg'"
                >Patient Registration</a
              >
            </li>
            <li class="dropdown-item" [routerLink]="'/patient-schedule'">
              Patient Schedule
            </li>
            <li class="dropdown-item" [routerLink]="'/patient-health'">Patient-health</li>
          </ul>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-notes-medical"></i>
            Doctor Consultation
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            <li class="dropdown-item" [routerLink]="'/doc-consult'">
              Consultation
            </li>
            
          </ul>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PO
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
            
          </ul>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-file-invoice"></i>
            Billing
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/billing'" href="#"
                >Invoice Entry</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/invoice'" href="#"
                >Invoice Payment</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/adv-payment'" href="#">
                Advance Payment Receipt</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/print'" href="#"
                >Invoice View/Print</a
              >
            </li>
            <!-- <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/insurance'" href="#">Insurance</a></li> -->
          </ul>
        </li>

        <!-- Insurance Summary -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pattientwise-report" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-bed-pulse"></i>
            Insurance
          </a>
          <ul class="dropdown-menu" aria-labelledby="pattientwise-report">
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/insurance-summary'"
                href="#"
                >Patient Insurance Summary Screen</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/insurance'" href="#"
                >Patient Insurance Entry</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pattientwise-report" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-file"></i>
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="pattientwise-report">
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/collectionwise-report'"
                href="#"
                >Invoice wise Collection Report</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/patientwise-report'"
                href="#"
                >Patient Type wise
              </a>
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/collection-paymentwise-report'"
                href="#"
              >
                Payment Mode wise</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/outstanding-invwise-report'"
                href="#"
                >Outstanding Invoice - Date wise</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/outstanding-ptwise-report'"
                href="#"
                >Outstanding Invoice - Patient wise</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/stock-reports'" href="#"
                >Stock Register</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/po-reports'" href="#"
                >Po Invoice Summary</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/goods-reports'" href="#"
                >Goods Receipt</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/supplier-reports'"
                href="#"
                >Supplier Payment
              </a>
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/patient-listing'"
                href="#"
                >Patient Listing</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/payment-reports'"
                href="#"
                >Receipt Payment Reports</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/invoice-payment-report'"
                href="#"
                >Invoice Payment Report</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/invoice-product-report'"
                href="#"
                >Invoice Product Report</a
              >
            </li>
            <!-- <li class="dropdown-item"><a class="dropdown-item" [routerLink]="'/collection-payment-wise'" href="#">Collection Payment wise Report</a></li> -->
          </ul>
        </li>

        <!-- supplier -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pattientwise-report" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fa-solid fa-truck-field"></i>
            Supplier
          </a>
          <ul class="dropdown-menu" aria-labelledby="pattientwise-report">
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/supplier-master'"
                href="#"
                >Supplier Master Maintainence
              </a>
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/supplier-product'"
                href="#"
                >Product/Supplier Price Master</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/po'" href="#"
                >Purchase Order</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/po-submission'" href="#"
                >Purchase Order Submission</a
              >
            </li>
            <li class="dropdown-item">
              <a class="dropdown-item" [routerLink]="'/goods-receipt'" href="#"
                >Goods Receipt</a
              >
            </li>
            <li class="dropdown-item">
              <a
                class="dropdown-item"
                [routerLink]="'/supplier-payment'"
                href="#"
                >Supplier Payment</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-receipt"></i>
            Receipts & Payments
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/payment-receipts'"
                href="#"
                >Create Entry</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/update-payreceipts'"
                href="#"
                >View/Update</a
              >
            </li>
          </ul>
        </li>
        <!-- //Master -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-table"></i>
            Master
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" [routerLink]="'/account-master'" href="#"
                >Account Master</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/doctor-master'" href="#"
                >Doctor Master</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/inventory'" href="#"
                >Inventory Config</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/main-supp'" href="#"
                >Main to Supp</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/user-master'" href="#"
                >User Master</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-boxes-stacked"></i>
            Product
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" [routerLink]="'/product-master'" href="#"
                >Create New Product</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="'/product-master-listing'"
                href="#"
                >View//Update Product</a
              >
            </li>
          </ul>
        </li>
        <!-- //EOD -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-users"></i>
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" [routerLink]="'/eod'" href="#">EOD</a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/upload'" href="#"
                >Upload</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/pwd'" href="#"
                >Reset Password</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="'/doc-report'" href="#"
                >Doctor Report</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()"><i class="fa-solid fa-power-off"></i>Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
