.fa-microphone, .fa-microphone-slash{
    position: relative;
    /* right: 30px; */
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    z-index: 1;
    color: #03045fc7;
    top: -35px;
    left: 90%;
}