.example-card {
    max-width: 600px;
  }

.d-flex{
    display: block !important;
}

.bg-clr{
    background-color: #273aeb !important;
    color: white !important;
}

.txt-center{
  text-align: center;
}