<div class="row">
  <!-- <div [innerHtml]="msg" *ngIf="msg" style="color: red"></div>
   -->
  <div>
    <button class="btn btn-success mt-2" (click)="getFIles()" *ngIf="!hideUpload" >
      Show Previous
    </button>
  </div>
  <div *ngIf="previousFiles && previousFiles[0]">
    <ul class="pagination">
      <li
        class="page-item"
        [ngClass]="{ disabled: recordIndexFiles === 0 }"
      >
        <a class="page-link" (click)="prevFilesItem()">Previous</a>
      </li>
      <li
        class="page-item"
        [ngClass]="{
          disabled:
          recordIndexFiles === undefined ||
          recordIndexFiles === getLastFilesRecordIndex()
        }"
      >
        <a class="page-link" (click)="nextFilesItem()">Next</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6 mt-2">
    <input type="file" id="left_eye" *ngIf="!hideUpload" (change)="selectRightFile($event, true)" />
    <div class="left-eye-container">
      <h4>Left Eye</h4>
      <img [src]="left_url" style="width: 100%" *ngIf="left_url" />
    </div>
  </div>
  <div class="col-lg-6 mt-2">
    <input
      type="file"
      id="left_eye"
      *ngIf="!hideUpload" 
      (change)="selectRightFile($event, false)"
    />
    <div class="left-eye-container">
      <h4>Right Eye</h4>
      <img [src]="right_url" style="width: 100%" *ngIf="right_url" />
    </div>
  </div>
  <div>
    <button class="btn btn-success mt-2" (click)="upload()" *ngIf="!hideUpload" >Save</button>

    <button class="btn btn-success mt-2" (click)="goBack()" *ngIf="hideUpload" >Back</button>
  </div>

  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>
  <!-- <div class="col-lg-3"><img [src]="right_url" *ngIf="right_url" /></div>
  <div class="row">
    <div class="col-lg-3">
      <img [src]="left_url" *ngIf="left_url" />
      <label for="left_eye">LEft Eye</label>
      <input
        type="file"
        id="left_eye"
        (change)="selectRightFile($event, true)"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label for="left_eye">LEft Eye</label>
      <input
        type="file"
        id="left_eye"
        (change)="selectRightFile($event, true)"
      />
    </div>
  </div> -->
</div>
