.edit-icon {
    cursor: pointer;
}

.delete-icon {
    cursor: pointer;
}

.margin10t {
    margin-top: 10px;
}
.manage-button {
    float: right;
    margin-left: 10px;
}
.manage-appoint {
    width: 15%;
}

.landing-btn{
    height: 35px
}
