<app-header></app-header>
<app-base-detail></app-base-detail>
<div class="container">  

  <div class="row margin10t">
    <div style="display: flex">
      <h2>Appointments</h2>
      <button
        (click)="openAppointmentPopup()"
        class="btn btn-success mar20lr landing-btn"
      >
        <i class="fa-solid fa-list-check mar5r"></i>Manage
      </button>
    </div>

    <div *ngIf="aptData && aptData.length > 0" class="mar20t">
      <app-appointment-table [appointmentTableData]="aptData"></app-appointment-table>
    </div>

    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Patient ID</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Mobile</th>
          <th scope="col">Date of Appointment</th>
          <th scope="col">Appointment No</th>
          <th scope="col">Doctor Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="aptData.length > 0">
        <tr *ngFor="let apt of aptData">
          <td>{{ apt.patient_id }}</td>
          <td>{{ apt.patient_name }}</td>
          <td>{{ apt.phone_no }}</td>
          <td>{{ apt.appoint_date | date : "dd/MM/yyyy" }}</td>
          <td>{{ apt.appoint_no }}</td>
          <td>{{ apt.doctor_name }}</td>
          <td>
            <mat-icon
              title="edit"
              class="edit-icon"
              aria-hidden="false"
              aria-label="Example home icon"
              (click)="edit_apt(apt)"
              >edit</mat-icon
            >
            <mat-icon title="delete" class="delete-icon" aria-hidden="false" aria-label="Example home icon" (click)="delete_apt(apt)">delete</mat-icon>
          </td>
          <td>
            <mat-icon title="consult" (click)="goToConsult(apt)"
              >supervisor_account</mat-icon
            >
          </td>
        </tr>
      </tbody>
      <span *ngIf="aptData.length === 0">No records</span>
    </table> -->
  </div>
  <hr />
  <div class="row margin10t">
    <div style="display: flex">
      <h2>Patient Schedule</h2>
      <button
        (click)="managePatient()"
        class="btn btn-success manage-button landing-btn"
      >
        <i class="fa-solid fa-list-check mar5r"></i>Manage
      </button>
    </div>

    <div *ngIf="patientScheduleData && patientScheduleData.length > 0" class="mar20t">
      <app-patient-schedule-table [patientScheduleTableData]="patientScheduleData"></app-patient-schedule-table>
    </div>

    <!-- <table class="table">
      <thead>
        <tr>
          <th scope="col">Patient ID</th>
          <th scope="col">Patient Name</th>
          <th scope="col">Purpose</th>
          <th scope="col">Schedule Date</th>
          <th scope="col">Planned Date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let psc of patientScheduleData">
          <td>{{ psc.patient_id }}</td>
          <td>{{ psc.patient_name }}</td>
          <td>{{ psc.schedule_purpose }}</td>
          <td>{{ psc.schedule_date | date : "dd/MM/yyyy" }}</td>
          <td>{{ psc.planned_date | date : "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
      <span *ngIf="patientScheduleData?.length === 0">No records</span>
    </table> -->
  </div>
</div>
