<app-header></app-header>
<div class="container">
        <div class="txt-left">
            <button type="button" class="btn btn-clr mar20t" [useExistingCss]="true" id="print-to-pdf" printSectionId="print-section"  ngxPrint >Print to Pdf</button>
            <button type="button" class="btn btn-clr mar20t margin-10l" (click)="back()" >Back</button>
        </div>
        <div id="print-section">
                <div class="space-10"></div>
                <h5>Visit Information</h5>
                <mat-card *ngIf="patientData">
                    <mat-card-content class="row d-flex fs-medium">
                        <div class="col-6">Visit No: {{patientData.visit_no}}</div>
                        <div class="col-6">Visit Date: {{patientData.visit_date | date: 'dd-MM-yyyy'}}</div>
                        <div class="col-6">Prev Visit No: {{patientData.prev_visit_no}}</div>
                        <div class="col-6">Prev Visit Date: {{patientData.prev_visit_date | date: 'dd-MM-yyyy'}}</div>
                    </mat-card-content>
                </mat-card>
                <div class="space-10"></div>
                <div class="mat-card" *ngIf="patientData?.health_lastvisit">
                    <h5>Vital Parameter</h5>
                    <table class="table table-bordered fs-medium">
                        <thead class="thead-dark table-header-background">
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vitalData of patientData.health_lastvisit">
                                <td>
                                    {{vitalData.khi_desc}}
                                </td>
                                <td>
                                    {{vitalData.khi_value}}
                                </td>
                                <td>
                                    {{vitalData.khi_notes}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="space-10"></div>
                <div class="mat-card" *ngIf="patientData?.test_lastvisit">
                    <h5>Tests Prescribed</h5>
                    <table class="table table-bordered fs-medium">
                        <thead class="thead-dark table-header-background">
                            <tr>
                                <th>Sl No</th>
                                <th>Visit #</th>
                                <th>Visit Date</th>
                                <th>Test</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let testData of patientData.test_lastvisit; let i = index">
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    {{testData.product_name}}
                                </td>
                                <td>
                                    {{testData.test_date | date: 'dd-MM-yyyy'}}
                                </td>
                                <td>
                                    {{testData.test_notes}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="space-10"></div>
                <div class="table-responsive-lg col-lg-12 mat-card" style="margin-top:20px" *ngIf="patientData && patientData.medicine_lastvisit">
                    <h5>Medicines Prescribed</h5>
                    <table class="table table-bordered fs-small">
                        <thead class="thead-dark table-header-background">
                          <tr>
                            <th  rowspan="2">#</th>
                            <th rowspan="2">Product Name</th>
                            <th colspan="2">Morning</th>
                            <th colspan="2">Noon</th>
                            <th colspan="2">Evening</th>
                            <th colspan="2">Night</th>
                            <th colspan="3">Adhoc</th>
                            <th rowspan="2">Days</th>
                            <th rowspan="2">Remarks</th>
                          </tr>
                
                          <tr>
                            <th>BF</th>
                            <th>AF</th>
                            <th>BF</th>
                            <th>AF</th>
                            <th>BF</th>
                            <th>AF</th>
                            <th>BF</th>
                            <th>AF</th>
                            <th>Notes</th>
                            <th>BF</th>
                            <th>AF</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medicineData of patientData.medicine_lastvisit; let i=index">
                            <td scope="row">{{i+1}}</td>
                            <td>
                                {{medicineData.product_name}}
                            </td>
                
                            <td class="w-5">{{medicineData.morning_bf}}</td>            
                            <td class="w-5">{{medicineData.morning_af}}</td> 
                            
                            <td class="w-5">{{medicineData.noon_bf}}</td> 
                            <td class="w-5">{{medicineData.noon_af}}</td> 
                            
                            <td class="w-5">{{medicineData.evening_bf}}</td> 
                            <td class="w-5">{{medicineData.evening_af}}</td> 
                
                            <td class="w-5">{{medicineData.night_bf}}</td> 
                            <td class="w-5">{{medicineData.night_af}}</td> 
                
                            <td class="">{{medicineData.other_time_desc}}</td> 
                            <td class="w-5">{{medicineData.other_time_bf}}</td> 
                            <td class="w-5">{{medicineData.other_time_af}}</td>
                            <td>{{medicineData.no_of_days}}</td>
                            <td>{{medicineData.remarks}}</td>
                          </tr>
                         
                        </tbody>
                    </table>
                </div>
                <div class="space-10"></div>
                <div class="mat-card" *ngIf="patientData?.dialysis_notes">
                    <h5>Dialysis Notes</h5>
                    <table class="table table-bordered fs-medium">
                        <thead class="thead-dark table-header-background">
                            <tr>
                                <th>Dialysis Notes</th>
                                <th>Prescription Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dialysisData of patientData.dialysis_notes">
                                <td>
                                    {{dialysisData.dialysis_notes}}
                                </td>
                                <td>
                                    {{dialysisData.prescription_date | date: 'dd-MM-yyyy'}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <br>
</div>