.txt-center{
    text-align: center;
}
.margin-10t{
    margin-top:10px;
}

.margin-20t{
    margin-top:20px;
}

.pointer {
    cursor: pointer;
}

.content-right {
    justify-content: right;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}