<section class="mat-elevation-z8" tabindex="0">
  <div class="example-header">
    <button (click)="managePatient()" class="btn btn-success mar20t">
      <i class="fa-solid fa-list-check mar5r"></i>Manage
    </button>
    <mat-form-field class="mar20lr">
      <input
        matInput
        (keyup)="applyFilter($any($event.target).value)"
        placeholder="Filter"
      />
    </mat-form-field>
  </div>
  <div class="patient-sch-container">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      id="patient-schedule-table"
    >
      <ng-container matColumnDef="patient_id">
        <th mat-header-cell *matHeaderCellDef>Patient Id</th>
        <td mat-cell *matCellDef="let element">{{ element.patient_id }}</td>
      </ng-container>

      <ng-container matColumnDef="patient_name">
        <th mat-header-cell *matHeaderCellDef>Patient Name</th>
        <td mat-cell *matCellDef="let element">{{ element.patient_name }}</td>
      </ng-container>

      <ng-container matColumnDef="schedule_purpose">
        <th mat-header-cell *matHeaderCellDef>Schedule Purpose</th>
        <td mat-cell *matCellDef="let element">
          {{ element.schedule_purpose }}
        </td>
      </ng-container>

      <ng-container matColumnDef="schedule_date">
        <th mat-header-cell *matHeaderCellDef>Schedule Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.schedule_date | date : "dd-MM-yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="planned_date">
        <th mat-header-cell *matHeaderCellDef>Planned Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.planned_date | date : "dd-MM-yyyy" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</section>
