<app-header></app-header>
<div class="container">
  <div class="row">
    <h1>Doctor consulation</h1>
  </div>
  <app-patient-header
    (outputPatientHeader)="patientHeader($event)"
    [header]="headerDetail"
  ></app-patient-header>
  <div>
    <label class="mar15"
      ><strong>Department: {{ aptObj.dept_name }}</strong></label
    >
    <label class="mar15"
      ><strong>Doctor: {{ aptObj.doctor_name }}</strong></label
    >
  </div>

  <!-- Grid for sections-->
  <div class="">
    <mat-grid-list cols="4" rowHeight="100">
      <mat-grid-tile [routerLink]="['/pet-dynamic-home']" [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Notes'
      }">Doctor Notes</mat-grid-tile>

      <mat-grid-tile [routerLink]="['/pet-dynamic-home']" [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Pet Visit 360'
      }">Pet Visit 360</mat-grid-tile>

      
      <mat-grid-tile
        [routerLink]="['/pet-dynamic-home']"
        [state]="{
          visit_no: visit_no,
          aptObj: aptObj,
          heading: 'Vision Assesment'
        }"
        >Vision Assesment</mat-grid-tile
      >
      <mat-grid-tile
        [routerLink]="['/pet-dynamic-home']"
        [state]="{
          visit_no: visit_no,
          aptObj: aptObj,
          heading: 'Examination of Adnexa'
        }"
        >Examination of Adnexa</mat-grid-tile
      >

      <mat-grid-tile
        [routerLink]="['/pet-dynamic-home']"
        [state]="{
          visit_no: visit_no,
          aptObj: aptObj,
          heading: 'Cornea and Sclera'
        }"
        >Cornea and Sclera</mat-grid-tile
      >

      <mat-grid-tile
      [routerLink]="['/pet-dynamic-home']"
      [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'IOP and AC'
      }"
      >IOP and AC</mat-grid-tile
    >
    


    <mat-grid-tile
      [routerLink]="['/pet-dynamic-home']"
      [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Posterior Segment After pupillary Dilation'
      }"
      >Posterior Segment After pupillary Dilation</mat-grid-tile
    >
    

    <mat-grid-tile
      [routerLink]="['/pet-dynamic-home']"
      [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Antirior Segment After pupillary Dilation'
      }"
      >Antirior Segment After pupillary Dilation</mat-grid-tile
    >
    

    <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Fundus'
    }"
    >Fundus</mat-grid-tile
  >
  

  <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Diagnosis'
    }"
    >Diagnosis</mat-grid-tile
  >


  <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Treatment'
    }"
    >Treatment</mat-grid-tile
  >
  </mat-grid-list>
  </div>
</div>
