<app-header></app-header>
<div class="container">
  <div class="row">
    <h1>Doctor consulation</h1>
  </div>
  <app-patient-header
    (outputPatientHeader)="patientHeader($event)"
    [header]="headerDetail"
  ></app-patient-header>
  <div>
    <label class="mar15"
      ><strong>Department: {{ aptObj.dept_name }}</strong></label
    >
    <label class="mar15"
      ><strong>Doctor: {{ aptObj.doctor_name }}</strong></label
    >
  </div>

  <!-- Grid for sections-->
  <div class="">
    <mat-grid-list cols="4" rowHeight="100">
      <mat-grid-tile [routerLink]="['/pet-dynamic-home']" [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Notes'
      }">Doctor Notes <i *ngIf="aptObj.petHistoryBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile>

      <mat-grid-tile
        [routerLink]="['/pet-dynamic-home']"
        [state]="{
          visit_no: visit_no,
          aptObj: aptObj,
          heading: 'Vital Parameters'
        }"
        >Vital Parameters <i *ngIf="aptObj.petVitalBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
      >

      <mat-grid-tile [routerLink]="['/pet-dynamic-home']" [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Pet Visit 360'
      }">Pet Visit 360</mat-grid-tile>

      
      <mat-grid-tile
        [routerLink]="['/pet-dynamic-home']"
        [state]="{
          visit_no: visit_no,
          aptObj: aptObj,
          heading: 'Vision Assesment'
        }"
        >Vision Assesment <i *ngIf="aptObj.petVisionBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
      >
      <mat-grid-tile
        [routerLink]="['/pet-dynamic-home']"
        [state]="{
          visit_no: visit_no,
          aptObj: aptObj,
          heading: 'Examination of Adnexa'
        }"
        >Examination of Adnexa <i *ngIf="aptObj.petAdnexaBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
      >

      <mat-grid-tile
        [routerLink]="['/pet-dynamic-home']"
        [state]="{
          visit_no: visit_no,
          aptObj: aptObj,
          heading: 'Cornea and Sclera'
        }"
        >Cornea and Sclera <i *ngIf="aptObj.petCorneaBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
      >

      <mat-grid-tile
      [routerLink]="['/pet-dynamic-home']"
      [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'IOP and AC'
      }"
      >IOP and AC <i *ngIf="aptObj.petIOPBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
    >
    


    <mat-grid-tile
      [routerLink]="['/pet-dynamic-home']"
      [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Posterior Segment After pupillary Dilation'
      }"
      >Posterior Segment After pupillary Dilation <i *ngIf="aptObj.petPosteriorBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
    >
    

    <mat-grid-tile
      [routerLink]="['/pet-dynamic-home']"
      [state]="{
        visit_no: visit_no,
        aptObj: aptObj,
        heading: 'Antirior Segment After pupillary Dilation'
      }"
      >Antirior Segment After pupillary Dilation <i *ngIf="aptObj.petAntiriorBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
    >
    

    <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Fundus'
    }"
    >Fundus <i *ngIf="aptObj.petFundusBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
  >
  

  <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Diagnosis'
    }"
    >Diagnosis <i *ngIf="aptObj.petDiagnosisBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
  >


  <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Treatment'
    }"
    >Treatment <i *ngIf="aptObj.petTreatmentBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
  >

  <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Medicine'
    }"
    >Medicine <i *ngIf="aptObj.petMedicineBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
  >

  <mat-grid-tile
    [routerLink]="['/pet-dynamic-home']"
    [state]="{
      visit_no: visit_no,
      aptObj: aptObj,
      heading: 'Lab'
    }"
    >Lab <i *ngIf="aptObj.petLabBoolean" class="fa fa-check fa-xl clr-blue" aria-hidden="true"></i></mat-grid-tile
  >
  </mat-grid-list>
  </div>
</div>
