<div class="container margin-20l">
  <div class="row">
    <h1>History</h1>
  </div>
    <div class="row">
        <div class="col-md-4" *ngIf="!showPreviousTable">
            <button class="btn btn-success ms-2" (click)="displayPrevious()">Show Previous</button>
        </div>
        <div class="col-md-4" *ngIf="showPreviousTable">
            <div>
                <li class="mx-2">Visit#: <strong>{{showVisitNo}}</strong></li>
                <li class="mx-2">Visit Date: <strong>{{showVisitDate | date : "dd-MM-yyyy"}}</strong></li>
            </div>
            <ul class="pagination pointer">
                <li class="page-item" [ngClass]="{'disabled': recordIndex === 0 || historyDetailData.length == 0 }">
                    <a class="page-link" (click)="prevItem()">Previous</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled': recordIndex === undefined || recordIndex === getLastRecordIndex() }">
                    <a class="page-link" (click)="nextItem()">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="error-container" *ngIf="!visit_no">Please save doctor notes to save History details</div>
    <form [formGroup]="petHistoryForm">
        <div class="mar-10b">
            <div class="row pet-label">
                <label class="form-label">Primary compliant</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label margin-20t">Primary compliant</label>
                    <select type="dropdown" class="form-control" formControlName="main_complaint" required>
                      <option value="" selected disabled>-Select-</option>
                      <option *ngFor="let vaValue of primaryComplaintList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label margin-20t">Date of Onset</label>
                    <input type="date"  class="form-control margin-10t" formControlName="main_complaint_from" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label margin-20t">Complaint Status</label>
                    <select type="dropdown" class="form-control" formControlName="curr_treatment" required>
                      <option value="" selected disabled>-Select-</option>
                      <option *ngFor="let vaValue of complaintStatusList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label margin-20t">Complaint Notes</label>
                    <textarea type="text"  class="form-control margin-10t" formControlName="curr_treatment_dtl"></textarea>
                </div>
            </div>
        </div>

        <div class="mar-10b">
            <div class="row pet-label">
                <label class="form-label">Concurrent  Disease</label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label margin-20t">Concurrent  Disease</label>
                    <select type="dropdown" class="form-control" formControlName="concurrent_disease" required>
                      <option value="" selected disabled>-Select-</option>
                      <option *ngFor="let vaValue of concurrentDiseaseList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                  </select>
                </div>
                <div class="col-md-6">
                    <label class="form-label margin-20t">Comments</label>
                    <input type="text"  class="form-control margin-10t" formControlName="concurrent_disease_dtl" required/>
                </div>
            </div>
        </div>

        <div class="mar-10b">
            <div class="row pet-label">
                <label class="form-label">Current Treatment</label>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label class="form-label margin-20t">Comments</label>
                <input type="text"  class="form-control margin-10t" formControlName="medication_dtl" required/>
                </div>
            </div>
        </div>

        <div class="mar-10b">
            <div class="row pet-label">
                <label class="form-label">Clinical Symptoms Observed </label>
            </div>
            <div class="row">
                <div class="col-md-4 pg-10">
                </div>
                <div class="col-md-4 pg-10">
                    <label class="form-label ">Right Eye</label>
                </div>
                <div class="col-md-4 pg-10">
                    <label class="form-label ">Left Eye</label>
                </div>
            </div>
            <div class="row mar-5b">
                <div class="col-md-2 pg">
                    <label class="form-label pg-t">Lacrimation</label>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="lacrimation_right" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of lacrimationList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="lacrimation_left" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of lacrimationList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
            </div>
            <div class="row mar-5b">
                <div class="col-md-2 pg">
                    <label class="form-label pg-t">Pain</label>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="pain_right" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of painList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="pain_left" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of painList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
            </div>
            <div class="row mar-5b">
                <div class="col-md-2 pg">
                    <label class="form-label pg-t">Blepharospasm</label>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="blepharospasm_right" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of presentAbsentList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="blepharospasm_left" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of presentAbsentList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
            </div>
            <div class="row mar-5b">
                <div class="col-md-2 pg">
                    <label class="form-label pg-t">Photophobia</label>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="photophobia_right" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of presentAbsentList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
                <div class="col-md-5 flex-align">
                    <select type="dropdown" class="form-control" formControlName="photophobia_left" required>
                        <option value="" selected disabled>-Select-</option>
                        <option *ngFor="let vaValue of presentAbsentList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                    </select>
                </div>
            </div>
    
            <div class="row mar-5b">
                <div class="col-md-6">
                    <label class="form-label margin-20t">Attitude</label>
                    <input type="text"  class="form-control margin-10t" formControlName="attitude" required/>
                </div>
                <div class="col-md-6">
                    <label class="form-label margin-20t">Restraint</label>
                    <input type="text"  class="form-control margin-10t" formControlName="restraint_dtl" required/>
                </div>
            </div>
        </div>
    </form>
    <button type="button" *ngIf="!showPreviousTable" class="btn btn-warning margin-20t" (click)="saveHistory()"><i class="fa-solid fa-paper-plane mar5r"></i>
        Save
    </button>
    <button type="button" *ngIf="showPreviousTable" class="btn btn-success margin-t" (click)="back()">
        Back
    </button>
</div>