<app-header></app-header>
<div class="container login-bg">
  <div class="row mar20t">
    <h1>Login</h1>
    <form class="col-lg-6" #loginForm="ngForm" novalidate>
      <div *ngIf="!validUser" class="alert alert-danger" role="alert">
        Username or Password is Invalid. Please check credentials
      </div>
      <div class="mb-3">
        <label for="userId" class="form-label">User ID</label>
        <input type="text" required class="form-control" name="userId" [(ngModel)]="loginObj.userId" id="userId"
          aria-describedby="userid">

      </div>
      <div class="mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" required class="form-control" name="pwd" [(ngModel)]="loginObj.pwd" id="pwd">
      </div>

      <button [disabled]="!loginForm.valid " (click)="login()" class="btn btn-success submit-btn"><i class="fa fa-right-to-bracket pad10r"></i>Login</button>
    </form>
    <div class="col-lg-6">
      <img src="/assets/login_image2.png" class="login-image"/>
    </div>
  </div>

</div>