<app-header></app-header>

<div class="container">
  <div class="row">
    <h1>Advance Payment</h1>
</div>
<app-patient-header (outputPatientHeader)="patientHeader($event)"></app-patient-header>

  <div class="row mar20t" *ngIf="headerDetail">
    <h3>Payment Details</h3>
    <div class="col-6">
      <div class="register-form">
        <form [formGroup]="paymentform" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Payment Mode</label>
            <select formControlName="paymentMode" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && check.paymentMode.errors }">
              <!-- <option [ngValue]="null">-Select-</option> -->
              <option *ngFor="let ref of paymentModes" [ngValue]="ref.ref_code">{{ref.ref_code}}-{{ref.ref_desc}}</option>
            </select>
            <div *ngIf="submitted && check.paymentMode.errors" class="invalid-feedback">
              <div *ngIf="check.paymentMode.errors.required ">Payment Mode is required</div>
            </div>
          </div>

          <div class="form-group mar20t">
            <label>Payment Amount</label>
            <input min="1" type="number" formControlName="paymentAmount"  class="form-control"
              [ngClass]="{ 'is-invalid': submitted && check.paymentAmount.errors }" />
            <div *ngIf="submitted && check.paymentAmount.errors" class="invalid-feedback">
              <div *ngIf="check.paymentAmount.errors.required">Payment Amount is required</div>
              <div *ngIf="check.paymentAmount.errors.pattern">Payment Amount must be greater than Zero</div>
            </div>
          </div>

          <div class="form-group mar20t">
            <label>Payment Remarks</label>
            <textarea type="textarea" formControlName="paymentRemarks" class="form-control" maxlength="500"
              [ngClass]="{ 'is-invalid': submitted && check.paymentRemarks.errors }"></textarea>
            <div *ngIf="submitted && check.paymentRemarks.errors" class="invalid-feedback">
              <div *ngIf="check.paymentRemarks.errors.required">Payment Remarks is required</div>
            </div>
          </div>

          <div class="form-group d-flex mar20t">
            <button type="submit" class="btn btn-success" [disabled]="!paymentform.valid"><i class="fa-solid fa-paper-plane mar5r"></i>Submit</button>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>