<app-header></app-header>
<!--<div class="container">
  <div class="row">
    <h1>Billing</h1>
  </div>
  <div class="row" *ngIf="!headerDetail">
    <h3>Patient Details</h3>
    <div class="patient-details">
      <label for="contact" class="form-label">Contact</label>
      <input type="text" class="form-control contact-input" required name="contact" [(ngModel)]="mobile_no"
        id="contact">
      <br>
      <button (click)="fetchUser()" [disabled]="!mobile_no" class="btn btn-primary mar20t">fetch
        contact details</button>
    </div> 
  </div>

</div> -->
<app-invoice [billing]="true" (billingItem)="editBilling($event)" *ngIf="!showBillingForm"></app-invoice>
<div class="container mar30" *ngIf="showBillingForm">
  <form class="example-form" [formGroup]="myForm" novalidate>
    <mat-form-field class="mar20lr" appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select matInput name="bu_id" formControlName="bu_id" [(ngModel)]="billingItem.bu_id" required
        (selectionChange)="fetchProductNew($event)">
        <mat-option *ngFor="let bu of buList" [value]="bu.bu_id">{{bu.bu_name}}</mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field class="width25-perc mar20lr" appearance="fill">
      <mat-label>Product</mat-label>
      <input type="text" matInput name="product_name" required [(ngModel)]="billingItem.product_name"
        placeholder="Pick one" aria-label="Product" [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setProductCost($event.option)"
        [displayWith]="displayProperty">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option?.product_name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field class="mar20lr" appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="product_cost" required [(ngModel)]="billingItem.product_cost"
        name="product_cost">

    </mat-form-field>

    <mat-form-field class="mar20lr" appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput type="number" formControlName="product_qty" required [(ngModel)]="billingItem.product_qty"
        name="product_qty" (ngModelChange)="calculateAmountPerQty($event)">
    </mat-form-field>
    <div>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Other charges 1</mat-label>
        <input matInput type="number" formControlName="other_charge1" [(ngModel)]="billingItem.other_charge1"
          (ngModelChange)="calclulateOthercharges($event)" name="charge1">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Other charges 2</mat-label>
        <input matInput type="number" formControlName="other_charge2" [(ngModel)]="billingItem.other_charge2"
          (ngModelChange)="calclulateOthercharges($event)" name="charge2">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Other charges3</mat-label>
        <input matInput type="number" formControlName="other_charge3" [(ngModel)]="billingItem.other_charge3"
          (ngModelChange)="calclulateOthercharges($event)" name="charge3">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Gross Amount</mat-label>
        <input matInput type="number" formControlName="gross_inv_amount" [(ngModel)]="billingItem.gross_inv_amount"
          name="gross_inv_amount" readonly>
      </mat-form-field>
    </div>

    <div>

      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Comments 1</mat-label>
        <input matInput formControlName="other_charge_remark1" [(ngModel)]="billingItem.discount_remark1"
          name="cgremark1">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Comments 2</mat-label>
        <input matInput formControlName="other_charge_remark2" [(ngModel)]="billingItem.discount_remark2"
          name="cgremark2">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Comments 3</mat-label>
        <input matInput formControlName="other_charge_remark3" [(ngModel)]="billingItem.discount_remark3"
          name="cgremark3">
      </mat-form-field>

    </div>
    <div>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Dicscount 1</mat-label>
        <input matInput type="number" formControlName="discount1" [(ngModel)]="billingItem.discount1" name="discount1"
          (ngModelChange)="calclulateDiscount($event)">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Discount 2</mat-label>
        <input matInput type="number" formControlName="discount2" [(ngModel)]="billingItem.discount2" name="discount2"
          (ngModelChange)="calclulateDiscount($event)">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Discount 3</mat-label>
        <input matInput type="number" formControlName="discount3" [(ngModel)]="billingItem.discount3" name="dIscount3"
          (ngModelChange)="calclulateDiscount($event)">
      </mat-form-field>

      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Total Discount</mat-label>
        <input matInput type="number" formControlName="total_discount" [(ngModel)]="billingItem.gross_discount"
          name="total_discount" readonly>
      </mat-form-field>
    </div>
    <div>

      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Discount Comments 1</mat-label>
        <input matInput formControlName="discount_remark1" [(ngModel)]="billingItem.discount_remark1"
          name="discount_remark1">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Discount Comments 1</mat-label>
        <input matInput formControlName="discount_remark2" [(ngModel)]="billingItem.discount_remark2"
          name="discount_remark2">
      </mat-form-field>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Discount Comments 1</mat-label>
        <input matInput formControlName="discount_remark3" [(ngModel)]="billingItem.discount_remark3"
          name="discount_remark3">
      </mat-form-field>


    </div>
    <div>
      <mat-form-field class="mar20lr" appearance="fill">
        <mat-label>Net Amount</mat-label>
        <input matInput type="number" required formControlName="net_amount" [(ngModel)]="this.billingItem.net_amount"
          name="netamount" readonly>
      </mat-form-field>

    </div>

    <button type="button" class="btn btn-success" [disabled]="!myForm.valid" (click)="addItem()">
      <i class="fa-solid fa-circle-plus mar5r"></i> Item
    </button>
    <button type="button" class="btn btn-danger mar30" (click)="cancelNewItem()">
      <i class="fa-solid fa-circle-xmark mar5r"></i>
      Cancel
    </button>

    <button type="button" class="btn btn-warning mar30" (click)="resetFields()">
      <i class="fa-solid fa-rotate-left mar5r"></i>Reset
    </button>
  </form>
</div>

<div class="container" *ngIf="!showBillingForm">
  <!-- <div class="row header-border margin-20t">
    <div class="">
      <label class="mar20">Patient Id: {{patientHeader?.patient_id}}</label>
      <label class="mar20">Patient Name: {{patientHeader?.patient_name}}</label>
      <label class="mar20">Age: {{patientHeader?.age}}</label>
      <label class="mar20">Sex: {{patientHeader?.sex}}</label>
      <label class="mar20">Phone: {{patientHeader?.mobile_no}}</label>
      <label class="mar20">Patient Type: {{patientHeader?.patient_type}}</label>
      
      <label class="mar20">Total Invoice Amount: {{patientHeader?.net_inv_amount}}</label>
      <label class="mar20">Total Paid: {{patientHeader?.net_inv_paid}}</label>
      <label class="mar20">Total Balance: {{patientHeader?.net_inv_balance}}</label>
      <label class="mar20">Advance Amount: {{patientHeader?.advance_amount_paid}}</label>
      <label class="mar20">Advance Balance: {{patientHeader?.advance_amount_balance}}</label>
    </div>
  </div> -->

  <div *ngIf="billingArray?.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Amount</th>
          <th scope="col">Net Balance</th>
          <th scope="col">Net Paid</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of billingArray">

          <td>{{getBuName(item.bu_id)}}</td>
          <td>{{item.net_amount}}</td>
          <td>{{item.net_balance}}</td>
          <td>{{item.net_paid}}</td>
          <td>
            <mat-icon title="edit" class="edit-icon" aria-hidden="false" aria-label="edit icon"
              (click)="editItem(item)">edit
            </mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="button" class="btn btn-primary mar30" *ngIf="!showBillingForm" (click)="showBillingForm = true">
    Create Item
  </button>
  <button type="button" class="btn btn-primary mar30" [disabled]="billingArray.length === 0"
    *ngIf="!showBillingForm && billingArray?.length>0" (click)=submitData()>
    Generate Invoice
  </button>


</div>