<app-header></app-header>
<div class="container">
  <div class="row">
    <h1>{{ currentHeading }}</h1>
  </div>
  <!-- <div class="row">
    <div class="container" *ngIf="patientHeader">
      <div class="row header-border margin-20t">
        <div class="">
          <label class="mar20"
            >Patient Id: {{ patientHeader?.patient_id }}</label
          >
          <label class="mar20"
            >Patient Name: {{ patientHeader?.patient_name }}</label
          >
          <label class="mar20">Age: {{ patientHeader?.age }}</label>
          <label class="mar20">Sex: {{ patientHeader?.sex }}</label>
          <label class="mar20">Phone: {{ patientHeader?.mobile_no }}</label>
          <label class="mar20"
            >Patient Type: {{ patientHeader?.patient_type_name }}</label
          >

          <label class="mar20"
            >Total Invoice Amount: {{ patientHeader?.net_inv_amount }}</label
          >
          <label class="mar20"
            >Total Paid: {{ patientHeader?.net_inv_paid }}</label
          >
          <label class="mar20"
            >Total Balance: {{ patientHeader?.net_inv_balance }}</label
          >
          <label class="mar20"
            >Advance Adjusted: {{ patientHeader?.advance_amount_paid }}</label
          >
          <label class="mar20"
            >Advance Balance: {{ patientHeader?.advance_amount_balance }}</label
          >
        </div>
      </div>
    </div>
  </div> -->
  <div *ngIf="currentHeading === 'Notes'">
    <app-pet-history
      [aptObj]="this.aptObj"
      [visit_no]="visit_no"
      [headerDetail]="patientHeader"
      (isActivePet)="gotoConsultHome($event)"
    ></app-pet-history>
  </div>

  <div *ngIf="currentHeading === 'Pet Visit 360'">    
    <ng-template [ngIf]="currentHeading">
      <app-pet-visit360-view
        
      ></app-pet-visit360-view>
    </ng-template>
  </div>
  <div *ngIf="metaDataRoute">
    <ng-template [ngIf]="currentHeading">
      <app-vet-dynamic-section
        [visit_no]="visit_no"
        [metaData]="vetMetaData"
        [headerDetail]="patientHeader"
        [heading]="currentHeading"
        (isActive)="gotoConsultHome($event)"
        (backEmit)="gotoConsultHome()"
      ></app-vet-dynamic-section>
    </ng-template>
  </div>

  <div *ngIf="currentHeading === 'Diagnosis'">
    <app-pet-diagnosis
      [aptObj]="aptObj"
      [visit_no]="visit_no"
      [headerDetail]="patientHeader"
      (isActivePetDiagnosis)="gotoConsultHome($event)"
    ></app-pet-diagnosis>
  </div>

  <div *ngIf="currentHeading === 'Treatment'">
    <app-pet-treatment
      [aptObj]="aptObj"
      [visit_no]="visit_no"
      [headerDetail]="patientHeader"
      (isActiveTreatment)="gotoConsultHome($event)"
    ></app-pet-treatment>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-success mar20t"
      (click)="gotoConsultHome()"
    >
      Back to Sections
    </button>
  </div>
</div>
