<app-header></app-header>
<div class="container">
    <div class="row">
        <h3>Purchase Order</h3>
    </div>
    <form [formGroup]="poForm">
        <div class="row">
            <div class="col-3">
                <div class=" supplier-item">
                    <label for="branch_id" class="form-label">Ordering Branch<span class="txt-danger">*</span></label>
                    <select class="form-control" name="branch_id"  formControlName="branch_id" (change)="getSupplierList()">
                        <option *ngFor="let branch of branchList;" [value]="branch.branch_id">{{branch.branch_name}}</option>

                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="supplier_name" class="form-label">Supplier Name<span class="txt-danger">*</span></label>
                    <select class="form-control" name="supplier_name"  formControlName="supplier_name" (change)="onChangeSupplier()">
                        <option *ngFor="let suppData of supplierIdData" [value]="suppData.supplier_name">{{suppData.supplier_name}}</option>

                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class=" supplier-item">
                    <label for="supplier_id" class="form-label">Supplier ID</label>
                    <input type="text" class="form-control" formControlName="supplier_id"
                        name="supplier_id"  id="supplier_id" readonly>
                </div>
            </div>
            <div class="col-2">
                <div class="supplier-item">
                    <label for="po_number" class="form-label">PO#</label>
                    <select class="form-control" name="po_number_number"  formControlName="po_number" (change)="setPoData()">
                        <option *ngFor="let po of poDraftData" [value]="po.po_number">{{po.po_number}}</option>

                    </select>
                </div>
            </div>
            <div class="col-1">
                <button class="btn btn-success mt-30" (click)="getPoList()"><i class="fa-solid fa-magnifying-glass mar5r"></i> PO</button>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="po_date" class="form-label">PO Date</label>
                    <input type="date" class="form-control" formControlName="po_date"
                        name="po_date"  id="po_date" readonly>
                </div>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="po_value" class="form-label">PO Value</label>
                    <input type="number" class="form-control" formControlName="po_value"
                        name="po_value"  id="po_value" readonly>
                </div>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="po_status" class="form-label">PO status</label>
                    <input type="text" class="form-control" formControlName="po_status"
                        name="po_status"  id="po_status" readonly>
                </div>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="goods_rcpt_status" class="form-label">Goods Receipt Status</label>
                    <input type="text" class="form-control" formControlName="goods_rcpt_status"
                        name="goods_rcpt_status"  id="goods_rcpt_status" readonly>
                </div>
                <br>
            </div>
            
        <hr>
        <div class="row">
            <div class="col-2">
                <div class="supplier-item">
                    <label for="item_desc" class="form-label">Item Desc</label>
                    <select class="form-control" name="item_desc"  formControlName="item_desc" (change)="setItemCode()">
                        <option *ngFor="let prod of prodList" [value]="prod.product_name">{{prod.product_name}}</option>

                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="supplier-item">
                    <label for="qty_ordered" class="form-label">Qty Order</label>
                    <input type="number" min="0" class="form-control" formControlName="qty_ordered"
                        name="qty_ordered"  id="qty_ordered" (change)="calculateTotalCost()">
                </div>
            </div>
            <div class="col-2">
                <div class="supplier-item">
                    <label for="exp_del_date" class="form-label">To be Delivered on</label>
                    <input type="date" class="form-control" formControlName="exp_del_date"
                        name="exp_del_date"  id="exp_del_date">
                </div>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="del_branch_id" class="form-label">Delivery Branch</label>
                    <select class="form-control" name="del_branch_id"  formControlName="del_branch_id">
                        <option *ngFor="let branch of branchList;" [value]="branch.branch_id">{{branch.branch_name}}</option>

                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="remarks" class="form-label">Remarks</label>
                    <textarea type="text" class="form-control" formControlName="remarks"
                        name="remarks"  id="remarks" [maxLength]="1000"></textarea>
                </div>
            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6 d-flex">
                    <div class="col-3" *ngIf="isShowEdit">
                        <button class="btn btn-success pointer" (click)="addToList()"><i class="fa-solid fa-circle-plus mar5r"></i>Add Record</button>
                    </div>
                    <div class="col-3" *ngIf="!isShowEdit">
                        <button class="btn btn-warning pointer" (click)="editList()"><i class="fa-solid fa-file-pen mar5r"></i>Update Record</button>
                    </div>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <!-- <th>Item Code</th> -->
            <th>Item Desc</th>
            <!-- <th>Item Cost</th> -->
            <th>Qty Order</th>
            <!-- <th>Total cost</th> -->
            <th>Deliver By</th>
            <th>Delivery Branch</th>
            <th>Remarks</th>
            <th>Action</th>
          </tr> 
        </thead>
        <tbody>
            <ng-container *ngIf="poList && poList.length > 0">
                <tr *ngFor="let poData of poList">
                    <td >{{poData.item_desc}}</td>

                    <!-- <td>{{poData.item_cost}}</td> -->
        
                    <td>{{poData.qty_ordered}}</td>

                    <!-- <td>{{poData.net_value}}</td> -->

                    <td>{{poData.exp_del_date | date: 'dd-MM-yyyy'}}</td>  
                    
                    <td>{{poData.del_branch_id}}</td>

                    <td>{{poData.remarks}}</td>
                    
                    <td><mat-icon class="print-icon cancel-icon pointer" (click)="edit(poData)"> border_color</mat-icon>
                        <mat-icon title="delete" class="delete-icon delete-icon-disabled" aria-hidden="false" aria-label="Example home icon" disabled>delete</mat-icon> </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="poTableData.length > 0">
                <tr *ngFor="let item of poTableData">

                    <td>{{item.product_name}}</td>

                    <!-- <td>{{item.item_cost}}</td> -->
        
                    <td>{{item.qty_ordered}}</td>

                    <!-- <td>{{item.net_value}}</td> -->

                    <td>{{item.exp_del_date | date: 'dd-MM-yyyy'}}</td>
                    
                    <td>{{item.del_branch_name}}</td>

                    <td>{{item.remarks}}</td>
                    
                    <td>
                        <mat-icon class="print-icon cancel-icon pointer" (click)="edit(item)"> border_color</mat-icon>
                        <mat-icon title="delete" class="delete-icon pointer" aria-hidden="false" aria-label="Example home icon" (click)="delete(item)">delete</mat-icon> </td>
                </tr>
            </ng-container>
        </tbody>
      </table>

      <div class="row">
        <div class="col-6 d-flex">
                <div class="col-2">
                    <button class="btn btn-success" (click)="submit()"><i class="fa-solid fa-paper-plane mar5r"></i>
                        Save</button>
                </div>
        </div>
    </div>
</div>