.display-flex {
    display: flex;
}
.margin-bottom {
    margin-bottom: 5px;
}
.margin-l {
    margin-left: 5px;
}

::ng-deep .mat-mini-fab.mat-accent {
    color: white;
    background-color: #5ade2d;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #5ade2d;
}