<h1 mat-dialog-title>Image</h1>
<div mat-dialog-content class="field-img-container">
  <img [src]="data.image_re_path" alt="image" *ngIf="data.image_re_path!== null && data.showPrevious && data.eye === 'R'" />
  <img [src]="data.image_le_path" alt="image" *ngIf="data.showPrevious && data.eye === 'L' && data.image_le_path!== null" />
  <p *ngIf="data.showPrevious && data.eye === 'L' && data.image_le_path=== null">NO Image to view</p>
  <p *ngIf="data.showPrevious && data.eye === 'R' && data.image_re_path=== null">NO Image to view</p>
  <image-drawing
    [src]="data.image_re_path"
    outputMimeType="'image/png'"
    [height]="200"
    (save)="save($event)"
    *ngIf="!data.showPrevious"
    >
</image-drawing>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Ok</button>

  
</div>
