<app-header></app-header>
<div class="container">
    <div class="row">
        <h3>GOODS RECEIPT</h3>
    </div>
    <form [formGroup]="goodsForm">
        <div class="row">
            <div class="col-3">
                <div class=" supplier-item">
                    <label for="branch_id" class="form-label">Ordering Branch<span class="txt-danger">*</span></label>
                    <select class="form-control" name="branch_id"  formControlName="branch_id" (change)="getSupplierList()">
                        <option *ngFor="let branch of branchList;" [value]="branch.branch_id">{{branch.branch_name}}</option>

                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="supplier-item">
                    <label for="supplier_name" class="form-label">Supplier Name<span class="txt-danger">*</span></label>
                    <select class="form-control" name="supplier_name"  formControlName="supplier_name" (change)="onChangeSupplier()">
                        <option *ngFor="let suppData of supplierIdData" [value]="suppData.supplier_name">{{suppData.supplier_name}}</option>

                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class=" supplier-item">
                    <label for="supplier_id" class="form-label">Supplier ID</label>
                    <input type="text" class="form-control" formControlName="supplier_id"
                        name="supplier_id"  id="supplier_id">
                </div>
                <br>
            </div>
            
        <hr>
        </div>
        <br>
    </form>
    <br>
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>PO#</th>
            <th>PO Date</th>
            <!-- <th>PO Value</th> -->
            <th>Supp Inv Amount</th>
          </tr> 
        </thead>
        <tbody>
            <ng-container *ngIf="poDraftData && poDraftData.length > 0">
                <tr *ngFor="let item of poDraftData">

                    <td class="pointer" (click)="setPoData(item.po_number)">{{item.po_number}}</td>
        
                    <td>{{item.po_date | date: 'dd-MM-yyyy'}}</td>

                    <!-- <td>{{item.po_value}}</td> -->

                    <td>{{item.supp_inv_amt}}</td>
                </tr>
            </ng-container>
        </tbody>
      </table>
      <br>
      <!-- <hr> -->
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
              <th colspan="6" scope="colgroup" class="txt-center">PO Details</th>
              <th colspan="6" scope="colgroup" class="txt-center">Supplier Goods Receipt</th>
            </tr>
            <tr>
                <th scope="col">Item Desc</th>
                <!-- <th scope="col">Item Cost</th> -->
                <th scope="col">Qty Order</th>
                <th scope="col">Qty Received</th>
                <th scope="col">Qty Balance</th>
                <th scope="col">Inv Amount</th>
                <th scope="col">Item Status</th>
                <th scope="col">Inv #</th>
                <th scope="col">Inv Date</th>
                <th scope="col">Received date</th>
                <th scope="col">Inv Qty</th>
                <th scope="col">Inv Amount</th>
                <th Scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="poList && poList.length > 0">
                <tr *ngFor="let poData of poList">
                    <td class="bg-grey">{{poData.product_name}}</td>

                    <!-- <td class="bg-grey w-10">{{poData.item_cost}}</td> -->
        
                    <td class="bg-grey w-10">{{poData.qty_ordered}}</td>

                    <td class="bg-grey w-10">{{poData.qty_received}}</td>

                    <td class="bg-grey w-10">{{poData.qty_balance}}</td>  
                    
                    <td class="bg-grey w-10">{{poData.supp_inv_amt}}</td>

                    <td class="bg-grey w-10">{{poData.item_status_name}}</td>
                        <td class="w-12"><input type="text" placeholder="Enter Inv no" #focus class="form-control" [disabled]="poData.item_status_name=='Fully Received'"[(ngModel)]="poData.supp_inv_number"></td>
                        
                        <td class="w-12"><input type="date" class="form-control" [disabled]="poData.item_status_name=='Fully Received'" [(ngModel)]="poData.supp_inv_date"
                            (change)="validateInvDate(poData)"></td> 

                        <td class="w-12"><input type="date" class="form-control" [disabled]="poData.item_status_name=='Fully Received'" [(ngModel)]="poData.receipt_date"
                            (change)="validateReceiptDate(poData)"></td> 
                        
                        <td class=""><input type="number" class="form-control" [disabled]="poData.item_status_name=='Fully Received'" [(ngModel)]="poData.gr_qty_received"
                            (change)="validateQty(poData)"></td>
                        
                        <td class=""><input type="number" class="form-control" [disabled]="poData.item_status_name=='Fully Received'" [(ngModel)]="poData.gr_supp_inv_amt"></td>

                        <td class="pointer" (click)="view(poData)"><mat-icon>visibility</mat-icon></td>
                    
                    <!-- </span> -->
                </tr>
            </ng-container>
        </tbody>
      </table>
      <br>
      <div class="row">
          <div class="col-6 d-flex">
                  <div class="col-4">
                      <button class="btn btn-success" (click)="saveGoods()"><i class="fa-solid fa-paper-plane mar5r"></i>
                        Save Goods Receipt</button>
                  </div>
          </div>
      </div>
</div>

<!-- Modal Popup -->
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body txt-center">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item Desc</th>
                            <th scope="col">Inv #</th>
                            <th scope="col">Inv Date</th>
                            <th scope="col">Received date</th>
                            <th scope="col">Inv Qty</th>
                            <th scope="col">Inv Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container>
                            <tr *ngFor="let invData of dataSource">
                                <td>{{prodName}}</td>
            
                                <td>{{invData.supp_inv_number}}</td>
                    
                                <td>{{invData.supp_inv_date | date: 'dd-MM-yyyy'}}</td>
            
                                <td>{{invData.receipt_date | date: 'dd-MM-yyyy'}}</td>
            
                                <td>{{invData.gr_qty_received}}</td>  
                                
                                <td>{{invData.gr_supp_inv_amt}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                  </table>
                  <button class="btn btn-danger text-right" (click)="close()"><i class="fa-solid fa-arrow-left mar5r"></i>Back</button>
            </div>
        </div>
    </div>
</div>