.btn-ht{
    max-height: 40px;
}
.txt-danger{
    color: red;
}
.mt-30{
    margin-top: 30px;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    color: blue;
}

.w-5{
    width:5px;
    padding:0;
}
.w-10{
   width: 10px !important;
   padding:0;
}
.no-border{
   border:none;
}
.txt-center{
    text-align: center;
}
.bg-grey{
    background-color: #d2cdcd5c;
}
.modal {
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 1055;
    display: none;
    width: 86%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 130%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.w-12 {
    width: 12%;
}