<div class="container mar20t pad0">
    <ul class="pagination">
        <li class="page-item mx-2" [ngClass]="{'disabled': prevCounter === 1 }">
            <a class="page-link" (click)="prevItem()">Previous</a>
        </li>
        <li class="mx-2">Visit#:<strong>{{prevCounter}}</strong></li>
        <li class="page-item mx-2"
            [ngClass]="{'disabled':disableNext }">
            <a class="page-link" (click)="nextItem()">Next</a>
        </li>
    </ul>
    <div class="table-responsive-lg col-lg-12" style="margin-top:20px">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Product Name</th>
                    <th>Test Date</th>
                    <th>Prescription Date</th>
                    <th>Test Notes</th>
                    <th>Remarks</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of currentLabDetail; let i = index">
                    <td scope="row">{{i+1}}</td>
                    <td>{{item.product_name}}</td>
                    <td>{{item.test_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.prescription_date | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.test_notes}}</td>
                    <td>{{item.remarks}}</td>
                </tr>

            </tbody>
        </table>
        <div *ngIf="tableData && tableData.length === 0">No Data Found</div>
        
    </div>
</div>