<app-header></app-header>
<div class="container">
    <div class="row" *ngIf="!patientInvoiceDetail">
        <app-patient-header (outputPatientHeader)="patientHeaderDetails($event)"></app-patient-header>
    </div>
    <div *ngIf="patientInvoiceDetail">
        <div class="txt-left">
            <button type="button" class="btn btn-primary mar20t" [useExistingCss]="true" id="print-to-pdf" printSectionId="print-section"  ngxPrint >Print to Pdf</button>
            <!-- <button type="button" class="btn btn-primary mar20t ml-10" (click)="back()" >Back</button> -->
        </div>
        <div id="print-section">
            <h3>Patient Health Bulletin</h3>
                <h5>Personal Information</h5>
                    <mat-card *ngIf="patientHeaderData">
                        <mat-card-content class="row d-flex fs-medium">
                            <div class="col-4">Patient Id: {{patientHeaderData.patient_id}}</div>
                            <div class="col-4">Patient Name: {{patientHeaderData.patient_name}}</div>
                            <div class="col-4">Age: {{patientHeaderData.age}}</div>
                            <div class="col-4">Sex: {{patientHeaderData.sex}}</div>
                            <div class="col-4">Phone: {{patientHeaderData.mobile_no}}</div>
                            <div class="col-4">Patient Type: {{patientHeaderData.patient_type_name}}</div>
                            <div class="col-4">Blood Group: {{patientHeaderData.blood_group}}</div>
                            <div class="col-4">Contact #: {{patientHeaderData.contact}}</div>
                            <div class="col-4">Address: {{patientHeaderData.address}}</div>
                        </mat-card-content>
                      </mat-card>
                <!-- </div> -->
                <div class="space-10"></div>
                <h5>Financial Information</h5>
                <mat-card *ngIf="patientHeader">
                    <mat-card-content class="row d-flex fs-medium">
                        <div class="col-4"># of outstanding Invoices: {{patientHeader.outstanding}}</div>
                        <div class="col-4">Total Invoice Amt: {{patientHeader.net_inv_amount}}</div>
                        <div class="col-4">Total Paid: {{patientHeader.net_inv_paid}}</div>
                        <div class="col-4">Total Balance: {{patientHeader.net_inv_balance}}</div>
                        <div class="col-4">Adv Received: {{patientHeader.advance_amount_paid}}</div>
                        <div class="col-4">Adv adjusted: {{patientHeader.advance_amount_adjust}}</div>
                        <div class="col-4">Adv Balance: {{patientHeader.advance_amount_balance}}</div>
                        <div class="col-4">Claims Incurred: {{patientHeader.claim}}</div>
                        <div class="col-4">Claims Balance: {{patientHeader.claim_bal}}</div>
                    </mat-card-content>
                  </mat-card>
                <div class="space-10"></div>
                <h5>Health Information</h5>
                <mat-card *ngIf="patientData">
                    <mat-card-content class="row d-flex fs-medium">
                        <div class="col-6"># of OP Visits: {{patientData.last_visit_count}}</div>
                        <div class="col-6">Last OP Visit Date: {{patientData.last_visit_date | date: 'dd-MM-yyyy'}}</div>
                        <div class="col-6"># of Dialysis done: {{patientData.last_dialysis_count}}</div>
                        <div class="col-6">Last Dialysis Date: {{patientData.last_dialysis_date | date: 'dd-MM-yyyy'}}</div>
                    </mat-card-content>
                  </mat-card>
                <div class="space-10"></div>
                <h5>Latest Vital Parameter</h5>
                <div *ngIf="patientData?.patient_last_visit_health_details">
                    <table class="table table-bordered fs-medium">
                        <thead class="thead-dark">
                            <tr>
                                <th>Parameter</th>
                                <th>Value</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let paramData of patientData.patient_last_visit_health_details">
                                <td>
                                    {{paramData.khi_desc}}
                                </td>
                                <td>
                                    {{paramData.khi_value}}
                                </td>
                                <td>
                                    {{paramData.khi_notes}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="space-10"></div>
                <h5>Last Tests Underwent</h5>
                <div *ngIf="patientData?.patient_last_visit_test_details">
                    <table class="table table-bordered fs-medium">
                        <thead class="thead-dark">
                            <tr>
                                <th>Sl No</th>
                                <th>Visit #</th>
                                <th>Visit Date</th>
                                <th>Test</th>
                                <!-- <th>Link</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let testData of patientData.patient_last_visit_test_details; let i = index">
                                <td>
                                    {{i+1}}
                                </td>
                                <td>
                                    {{testData.product_name}}
                                </td>
                                <td>
                                    {{testData.test_date | date: 'dd-MM-yyyy'}}
                                </td>
                                <td>
                                    {{testData.test_notes}}
                                </td>
                                <!-- <td>
                                    {{testData.test_notes}}
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="space-10"></div>
                <div class="table-responsive-lg col-lg-12" style="margin-top:20px" *ngIf="patientData && patientData.patient_last_visit_medicine_prescribed">
                    <h5>Last Medicines recommended</h5>
                    <table class="table table-bordered fs-small">
                        <thead class="thead-dark">
                          <tr>
                            <th  rowspan="2">#</th>
                            <th rowspan="2">Product Name</th>
                            <th colspan="2">Morning</th>
                            <th colspan="2">Noon</th>
                            <th colspan="2">Evening</th>
                            <th colspan="2">Night</th>
                            <th colspan="3">Adhoc</th>
                            <th rowspan="2">Days</th>
                            <th rowspan="2">Remarks</th>
                          </tr>
                
                          <tr>
                            <th>BF</th>
                            <th>AF</th>
                            <th>BF</th>
                            <th>AF</th>
                            <th>BF</th>
                            <th>AF</th>
                            <th>BF</th>
                            <th>AF</th>
                            <th>Notes</th>
                            <th>BF</th>
                            <th>AF</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let medicineData of patientData.patient_last_visit_medicine_prescribed; let i=index">
                            <td scope="row">{{i + 1}}</td>
                            <td>
                                {{medicineData.product_name}}
                            </td>
                
                            <td class="w-5">{{medicineData.morning_bf}}</td>            
                            <td class="w-5">{{medicineData.morning_af}}</td> 
                            
                            <td class="w-5">{{medicineData.noon_bf}}</td> 
                            <td class="w-5">{{medicineData.noon_af}}</td> 
                            
                            <td class="w-5">{{medicineData.evening_bf}}</td> 
                            <td class="w-5">{{medicineData.evening_af}}</td> 
                
                            <td class="w-5">{{medicineData.night_bf}}</td> 
                            <td class="w-5">{{medicineData.night_af}}</td> 
                
                            <td class="">{{medicineData.other_time_desc}}</td> 
                            <td class="w-5">{{medicineData.other_time_bf}}</td> 
                            <td class="w-5">{{medicineData.other_time_af}}</td>
                            <td>{{medicineData.no_of_days}}</td>
                            <td>{{medicineData.remarks}}</td>
                          </tr>
                         
                        </tbody>
                    </table>
                </div>
        </div>
        <br>
    </div>
</div>