.contact-input{
    width:30%;
}
.header-border{
    border:2px solid black;
}
.margin-20t{
    margin-top:20px;
}



.error{
    color: red;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}