<app-header></app-header>
<div class="container">
    <div class="row">
        <h1>Payment</h1>
    </div>
    <div class="row">
        <div class="container" *ngIf="patientHeader">
            <div class="row header-border margin-20t">
                <div class="">
                    <label class="mar20">Patient Id: {{patientHeader?.patient_id}}</label>
                    <label class="mar20">Patient Name: {{patientHeader?.patient_name}}</label>
                    <label class="mar20">Age: {{patientHeader?.age}}</label>
                    <label class="mar20">Sex: {{patientHeader?.sex}}</label>
                    <label class="mar20">Phone: {{patientHeader?.mobile_no}}</label>
                    <label class="mar20">Patient Type: {{patientHeader?.patient_type_name}}</label>

                    <label class="mar20">Total Invoice Amount: {{patientHeader?.net_inv_amount}}</label>
                    <label class="mar20">Total Paid: {{patientHeader?.net_inv_paid}}</label>
                    <label class="mar20">Total Balance: {{patientHeader?.net_inv_balance}}</label>
                    <label class="mar20">Advance Adjusted: {{patientHeader?.advance_amount_paid}}</label>
                    <label class="mar20">Advance Balance: {{patientHeader?.advance_amount_balance}}</label>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="billingArray?.length > 0">
        Invoice#: {{invoice}}
        <table class="table mar20">
            <thead>
                <tr>
                    <th scope="col">Serial#</th>
                    <th scope="col">BU</th>
                    <th scope="col">Net Amount</th>
                    <th scope="col">Net Paid</th>
                    <th scope="col">Net Balance</th>
                    <th scope="col">Payable Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of billingArray; let index">

                    <td>{{item.inv_srl_no}}</td>
                    <td>{{item.bu_id}}</td>
                    <td>{{item.net_amount}}</td> 
                    <td>{{item.net_paid}}</td>
                    <td>{{item.net_balance}}</td>


                    <td><button class="btn btn-success"  [disabled]="item.inv_status === 'F' || item.net_amount === 0"  (click)="showPayment(item)">
                        <i class="fa-brands fa-amazon-pay mar5r"></i>Make Payment</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="billingArray.length === 0">
        No pending Invoice Payment
    </div>
    <div><button (click)="navigateToInvoice()" class="btn btn-danger mar20"><i class="fa-solid fa-arrow-left mar5r"></i>Back to Invoice
        </button>
        <button (click)="displayProducts()" class="btn btn-success mar20"><i class="fa-solid fa-eye mar5r"></i>View Products
        </button>
        <button (click)="navigateToPrint()" class="btn btn-warning mar20"><i class="fa-solid fa-print mar5r"></i>Print Invoice
        </button>
    </div>
</div>