.contact-input{
    width:30%;
}

.margin-20t{
    margin-top:20px;
}
.mar30{
    margin:30px;
}
.mar20{
    margin:20px;
}

.header-border{
    border:2px solid black;
}
.inv_no{
    cursor: pointer;
    color:blue;
    text-decoration: underline;
} 
.cancel-icon{
    cursor:pointer;
    color:red
}