<app-header></app-header>
<div class="container">
    <div class="row" *ngIf="!patientInvoiceDetail">
        <app-patient-header (outputPatientHeader)="patientHeader($event)"></app-patient-header>
        <!-- <h3>Patient Details</h3>
        <div class="patient-details">
            <label for="contact" class="form-label">Contact</label>
            <input type="text" class="form-control contact-input" required name="contact" [(ngModel)]="mobile_no"
                id="contact">
            <br>
            <button (click)="fetchUserInvoices()" [disabled]="!mobile_no" class="btn btn-primary mar20t">fetch
                Invoices</button>
        </div> -->
    </div>
    <div *ngIf="invoiceDetails" class="row header-border margin-20t">
        <div class="">
            <label class="mar15">Patient Id: {{patientHeaderData.patient_id}}</label>
            <label class="mar15">Patient Name: {{patientHeaderData.patient_name}}</label>
            <label class="mar15">Age: {{patientHeaderData.age}}</label>
            <label class="mar15">Sex: {{patientHeaderData.sex}}</label>
            <label class="mar15">Phone: {{patientHeaderData.mobile_no}}</label>
            <label class="mar15">Patient Type: {{patientHeaderData.patient_type_name}}</label><br>
            
            <label class="mar15">Total Invoice Amount: {{patientHeaderData.net_inv_amount}}</label>
            <label class="mar15">Total Paid: {{patientHeaderData.net_inv_paid}}</label>
            <label class="mar15">Total Balance: {{patientHeaderData.net_inv_balance}}</label>
            <label class="mar15">Advance Adjusted: {{patientHeaderData.advance_amount_paid}}</label>
            <label class="mar15">Advance Balance: {{patientHeaderData.advance_amount_balance}}</label>
        </div>

    </div>
    <div *ngIf="patientInvoiceDetail && invoiceDetails?.length > 0" class="margin-20t">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Inv#</th>
                    <th scope="col">Inv Date</th>
                    <!-- <th scope="col">Inv Amt</th> -->
                    <th scope="col">Total (Addl) Charges</th>
                    <th scope="col">Gross Amt</th>
                    <th scope="col">Total Discount</th>
                    <th scope="col">Net Amount</th>
                    <th scope="col">Net Paid</th>
                    <th scope="col">Outstanding</th>
                   <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of invoiceDetails; let index">

                    <td *ngIf="!billing"><a href=""
                            [routerLink]="['/invoice', item.invoice_no]">{{item.invoice_no}}</a>
                    </td>
                    <td>{{item.inv_date | date: 'dd/MM/yyyy'}}</td>
                    <!-- <td>{{item.total_base_amt}}</td> -->
                    <td>{{item.total_charges}}</td>
                    <td>{{item.gross_amt}}</td>
                    <td>{{item.total_discounts}}</td>
                    <td>{{item.net_inv_amount}}</td>
                    <td>{{item.net_inv_paid}}</td>
                    <td>{{item.net_inv_balance}}</td>
                   <td><mat-icon title="delete" class="cancel-icon" aria-hidden="false" aria-label="Example home icon" (click)="cancelInvoice(item)">delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>