<div class="container mar20t pad0" >  
  <h6>Product: {{prod_obj.product_name}}</h6>  
    <button class="btn btn-success" (click)="addRecord()">Add Record</button>

    <button class="btn btn-success margin-20l" (click)="showSupplier()">Supplier Price</button>

    <button class="btn btn-success margin-20l" (click)="showHistoryPrice()">Previous Pricing</button>
    <div class="table-responsive-lg col-lg-12" style="margin-top:20px" >
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            
            <td>Insurance Type</td>
            <td>Product Price</td>

            <td>Patient Price</td>
            <td>Insurance Price</td>
            <td>Doctor Price</td>

            <td>Effective From</td>
            <td>MRP</td>
            <td>Discount Amount</td>
            <td>Discount %</td>
            <td>Invoice Label</td>
          </tr>

          
        </thead>
        <tbody>
          
          <tr *ngFor="let item of tableData">            
          
            <td>
                <select class="form-select scrollable-menu" aria-label="Default select example" [(ngModel)]="item.insurance_type">
                   
                    <option *ngFor="let type of ins_types" [value]="type.ref_code">{{type.ref_desc}}</option>                    
                  </select>
            </td>

            <td class="w-5"><input type="number" class="form-control no-border" readonly min="0" onkeypress="return event.charCode >= 48" [(ngModel)]="item.product_price"></td>
            <td class="w-5"><input type="number" class="form-control no-border" min="0" onkeypress="return event.charCode >= 48" (change)="setProductPrice(item)" [(ngModel)]="item.patient_price"></td>
            <td class="w-5"><input type="number" class="form-control no-border" min="0" onkeypress="return event.charCode >= 48" (change)="setProductPrice(item)" [(ngModel)]="item.insurance_price"></td>
            <td class="w-5"><input type="number" class="form-control no-border" min="0" onkeypress="return event.charCode >= 48" [(ngModel)]="item.doctor_price" [value]="item.doctor_price" [max]="item.patient_price" (ngModelChange)="validateDocPrice(item)"></td>
            <td class="w-5"><input type="date" min="{{minDate |date:'yyyy-MM-dd'}}" class="form-control no-border" [(ngModel)]="item.eff_from"></td> 
            <td class="w-5"><input type="number" class="form-control no-border" onkeypress="return event.charCode >= 48" min="0"  [(ngModel)]="item.mrp_price"></td>
            <td class="w-5"><input type="number" class="form-control no-border" onkeypress="return event.charCode >= 48" min="0"  [(ngModel)]="item.discount_value"></td>
            <td class="w-5"><input type="number" class="form-control no-border" onkeypress="return event.charCode >= 48" min="0"  [(ngModel)]="item.discount_perc"></td>
                       
            <td class="w-5"><input type="text" class="form-control no-border" [(ngModel)]="item.prod_name_invoice"></td>
            
          
            <!-- <td><mat-icon title="delete" class="delete-icon" aria-hidden="false" aria-label="Example home icon" (click)="delete_item(item)">delete</mat-icon> </td> -->
          </tr>
        
        </tbody>
      </table>

      <button type="button" [disabled]="tableData.length === 0 || validateMandatory()" class="btn btn-primary mar20tb" (click)="updateIP()">
        Save
    </button>

    <button type="button"  class="btn btn-primary mar20tb mar20lr" (click)="cancel()">
      cancel
  </button>
    </div>    
</div>