<div class="row">  
  <div class="col-md-4" *ngIf="showPreviousTable">
    <ul class="pagination pointer">
      <li
        class="page-item"
        [ngClass]="{ disabled: recordIndex === 0 || recordIndex === undefined }"
      >
        <a class="page-link" (click)="prevItem()">Previous</a>
      </li>
      <li
        class="page-item"
        [ngClass]="{
          disabled:
            recordIndex === undefined || recordIndex === getLastRecordIndex()
        }"
      >
        <a class="page-link" (click)="nextItem()">Next</a>
      </li>
    </ul>
  </div>
</div>
<div class="error-container" *ngIf="!visit_no">
  Please save doctor notes to save Subject Acceptance details
</div>

<div class="mar20t">
    <app-opthal-file-upload [headerDetail]="headerDetail"></app-opthal-file-upload>
  </div>
<!-- <div class="row mar20t">
  <div class="col-md-4"></div>
  <div class="col-md-4 pointer txt-center">
    <button
      type="button"
      class="btn btn-success margin-10t"
      (click)="saveSubjectAcceptance()"
      *ngIf="!showPreviousTable"
      [disabled]="!visit_no"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-success margin-20t"
      (click)="back()"
      *ngIf="showPreviousTable"
    >
      Back
    </button>
  </div>
  <div class="col-md-4"></div>
</div> -->
