<h1 mat-dialog-title>Product Information</h1>
<div mat-dialog-content>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">BU ID</th>
                <th scope="col">Prod Description</th>
                <th scope="col">Net Amount</th>
            </tr>
        </thead>
        <tbody *ngIf="productList?.length > 0">
            <tr *ngFor="let item of productList">
                <td>{{item.bu_id}}</td>
                <td>{{item.product_name}}</td>
                <td>{{item.net_amount}}</td>
            </tr>

        </tbody>
        <!-- <span *ngIf="productList?.length === 0">No records</span> -->
    </table>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok</button>
</div>