<app-header></app-header>
<div class="container">
    <div class="row">
        <h1>Doctor consulation</h1>
    </div>
    <app-patient-header (outputPatientHeader)="patientHeader($event)"></app-patient-header>
    <div *ngIf="headerDetail" class="margin-20t">
        <mat-tab-group>
            <!-- Doc notes -->
            <mat-tab label="Doc Notes">
                <label class="d-block">Visit#: {{currentPatientDetail.visit_no}}</label>
                
                <label class="d-block">Visit Date: {{currentPatientDetail.visit_date |date:'dd-MM-yyyy'}}</label>
                <label for="prevHistory" class="form-label margin-20t">Previous History</label>

                <textarea readonly class="form-control " id="prevHistory" rows="10"
                    [(ngModel)]="currentPatientDetail.doctor_notes"></textarea>

                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled': recordIndex === 0 }">
                        <a class="page-link" (click)="prevItem()">Previous</a>
                    </li>
                    <li class="page-item"
                        [ngClass]="{'disabled': recordIndex === undefined || recordIndex === getLastRecordIndex() }">
                        <a class="page-link" (click)="nextItem()">Next</a>
                    </li>
                </ul>

                <label for="exampleFormControlTextarea1" class="form-label margin-20t">Doctor Notes</label>
                <textarea class="form-control" [(ngModel)]="docNotes" id="currentNotes" rows="10"></textarea>
                <button type="button" [disabled]="!docNotes" class="btn btn-primary margin-20t" (click)="saveNotes()">
                    Save
                </button>
            </mat-tab>

            <!-- vital paramaters tab -->
            <mat-tab label="Vital" class="overflow-hidden">
    
                <div *ngFor="let param of vitalParametersList; let i=index">
                    <div class="row margin-20l">
                        <label [for]="param.khi_desc" class="form-label margin-20t">{{param.khi_desc}}</label>
    
                        <input type="text"  class="form-control col-lg-6 contact-input" [placeholder]="param.khi_desc" [id]="param.khi_code"  />
    
                        <input type="text"  class="form-control col-lg-6 contact-input margin-20l" placeholder="Notes" [id]="setNotesId(param.khi_code)"/>
                    </div>         
                        
                </div> 
                <button type="button" [disabled]="!visit_no" class="btn btn-primary margin-20t" (click)="saveVitalParams()">
                    Save
                </button> 
            </mat-tab>

            <!-- Opthal Basic paramaters tab -->
            <mat-tab label="Basic" class="overflow-hidden">
                <app-opthal-basic [visit_no]="visit_no" [visit_date]="visit_date" [headerDetail]="headerDetail"></app-opthal-basic>
             </mat-tab>

            <!-- Opthal Refraction paramaters tab -->
            <mat-tab label="Refraction" class="overflow-hidden">
                <app-opthal-refraction [visit_no]="visit_no" [visit_date]="visit_date" [headerDetail]="headerDetail"></app-opthal-refraction>
             </mat-tab>
             
             <!-- Opthal Spectacle paramaters tab -->
            <mat-tab label="Spectacle" class="overflow-hidden">
                <app-opthal-spectacle [visit_no]="visit_no" [visit_date]="visit_date" [headerDetail]="headerDetail"></app-opthal-spectacle>
             </mat-tab>

            <!-- Opthal Slit-Lamp paramaters tab -->
            <mat-tab label="Slit-Lamp" class="overflow-hidden">
                <app-slit-lamp [visit_no]="visit_no" [visit_date]="visit_date" [headerDetail]="headerDetail"></app-slit-lamp>
             </mat-tab>

            <!-- pharma -->
            <mat-tab label="Medicine">
                <app-med-prescription [visit_no]="visit_no" [headerDetail]="headerDetail"></app-med-prescription>    
            </mat-tab>

            <!-- lab -->
            <mat-tab label="Lab">
                <app-lab-prescription [visit_no]="visit_no" [headerDetail]="headerDetail"></app-lab-prescription>
            </mat-tab>

            <!-- dilaysis -->
            <mat-tab label="Dialysis">
                <div class="error-container" *ngIf="!visit_no">Please save doctor notes to save dialysis notes</div>
                <label class="d-block">Visit#: {{currentPatientDialysisDetail.visit_no}}</label>
                <label class="d-block">Visit Date: {{currentPatientDialysisDetail.prescription_date |date:'dd-MM-yyyy'}}</label>
                <label for="prevDialysisHistory" class="form-label margin-20t">Previous History</label>
                

                <textarea readonly class="form-control " id="prevDialysisHistory" rows="10"
                [(ngModel)]="currentPatientDialysisDetail.dialysis_notes" ></textarea>
                <ul class="pagination">
                    <li class="page-item" [ngClass]="{'disabled': recordIndexDialysis === 0 }">
                        <a class="page-link" (click)="prevDialysisItem()">Previous</a>
                    </li>
                    <li class="page-item"
                        [ngClass]="{'disabled': recordIndexDialysis === undefined || recordIndexDialysis === getLastDialysisRecordIndex() }">
                        <a class="page-link" (click)="nextDialysisItem()">Next</a>
                    </li>
                </ul>

                <label for="exampleFormControlTextarea1" class="form-label margin-20t">Dialysis Notes</label>
                <textarea class="form-control" [(ngModel)]="dialysisNotes" id="dialysisNotes" rows="10"></textarea>
                <button type="button" [disabled]="!visit_no" class="btn btn-primary margin-20t"
                    (click)="saveDialysisNotes()">
                    Save
                </button>

            </mat-tab>
        </mat-tab-group>
    </div>
    
</div>