.contact-input{
    width:30%;
}

.margin-20t{
    margin-top:20px;
}

.visit-tag{
    float: right;
}
.mat-tab-body-content{
    overflow: hidden;
}

.page-link{
    color:green
}

.doc-consult-expansion-container{
    background-color: #a9e7a9;
}

.mr-10 {
    margin-right: 10px;
}

::ng-deep .mat-slide-toggle-thumb {
    background-color: #f72929;
}
::ng-deep .mat-slide-toggle-bar {
    background-color: #f805059f;
}
// ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//     background-color: #0ab41079;
// }

// ::ng-deep  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//     background-color: #0ab410;
// }

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #0ab41079;
}

::ng-deep  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #0ab410;
}


::ng-deep .mat-slide-toggle.mat-disabled {
    opacity: 1 !important;
}

::ng-deep .mat-expansion-panel-body{
    padding:0!important;
}