.contact-input{
    width:30%;
}

.margin-20t{
    margin-top:20px;
}

.visit-tag{
    float: right;
}
.mat-tab-body-content{
    overflow: hidden;
}

.page-link{
    color:green
}

.doc-consult-expansion-container{
    background-color: #a9e7a9;
}