
<div class="container mar20t pad0" *ngIf="!showPreviousTable">
    <button class="btn btn-success" (click)="addRecord()">Add Record</button>
    <button class="btn btn-success ms-2" (click)="displayPrevious()">Show Previous</button>
    <div class="table-responsive-lg col-lg-12" style="margin-top:20px" >
    <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th  rowspan="2">#</th>
            <th rowspan="2">Product Name</th>
            <th colspan="2">Morning</th>
            <th colspan="2">Noon</th>
            <th colspan="2">Evening</th>
            <th colspan="2">Night</th>
            <th colspan="3">Adhoc</th>
            <th rowspan="2">Days</th>
            <th rowspan="2">Remarks</th>
            <th rowspan="2">Action</th>
          </tr>

          <tr>
            <th>BF</th>
            <th>AF</th>
            <th>BF</th>
            <th>AF</th>
            <th>BF</th>
            <th>AF</th>
            <th>BF</th>
            <th>AF</th>
            <th>Notes</th>
            <th>BF</th>
            <th>AF</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData">
            <td scope="row">{{item.id}}</td>
            <td>
                <select class="form-select scrollable-menu" aria-label="Default select example" [(ngModel)]="item.medicine_id">
                    <!-- <option selected>Open this select menu</option> -->
                    <option *ngFor="let product of pharmaList" [value]="product.product_id">{{product.product_name}}</option>                    
                  </select>
            </td>

            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.morning_bf"></td>            
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.morning_af"></td> 
            
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.noon_bf"></td> 
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.noon_af"></td> 
            
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.evening_bf"></td> 
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.evening_af"></td> 

            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.night_bf"></td> 
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.night_af"></td> 

            <td class="pt-2"><input type="text" class="form-control no-border" [(ngModel)]="item.other_time_desc"></td> 
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.other_time_bf"></td> 
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.other_time_af"></td> 
            
            <td class="w-5 pt-2"><input type="number" class="form-control no-border" min="0" max="99" [(ngModel)]="item.no_of_days"></td> 
            <td><input type="text" class="form-control no-border" [(ngModel)]="item.remarks"></td> 
            
            <td><mat-icon title="delete" class="delete-icon" aria-hidden="false" aria-label="Example home icon" (click)="delete_item(item)">delete</mat-icon> </td>
          </tr>
         
        </tbody>
      </table>

      <button type="button" [disabled]="!visit_no || tableData.length === 0" class="btn btn-warning mar20tb" (click)="updateLabDetails()">
        Save
    </button>
    </div>    
</div>

<app-previous-med [headerData]="headerDetail" *ngIf="showPreviousTable"></app-previous-med>
<button type="button" *ngIf="showPreviousTable" class="btn btn-danger mar20tb" (click)="showPreviousTable = false">
  Back
</button>
