<div class="row">
    <div class="col-md-4" *ngIf="!showPreviousTable">
        <button class="btn btn-success ms-2" (click)="displayPrevious()">Show Previous</button>
    </div>
    <div class="col-md-4" *ngIf="showPreviousTable">
        <div>
            <li class="mx-2">Visit#: <strong>{{showVisitNo}}</strong></li>
            <li class="mx-2">Visit Date: <strong>{{showVisitDate | date : "dd-MM-yyyy"}}</strong></li>
        </div>
        <ul class="pagination pointer">
            <li class="page-item" [ngClass]="{'disabled': recordIndex === 0 || recordIndex === undefined }">
                <a class="page-link" (click)="prevItem()">Previous</a>
            </li>
            <li class="page-item" [ngClass]="{'disabled': recordIndex === undefined || recordIndex === getLastRecordIndex() }">
                <a class="page-link" (click)="nextItem()">Next</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8 txt-align">
        <button mat-raised-button color="primary" class="mar-right" (click)="rightToLeft()" [disabled]="showPreviousTable">Right to Left</button>
        <button mat-raised-button color="accent" (click)="leftToRight()" [disabled]="showPreviousTable">Left to Right</button>
    </div>
</div>
<div class="error-container" *ngIf="!visit_no">Please save doctor notes to save Glass Prescription details</div>
<form [formGroup]="glassPrescriptionForm">
    <div class="row margin-20l">
        <div class="col-md-6">
            <table class="table table-bordered">
                <thead class="">
                    <tr>
                      <th scope="colgroup" class="txt-center">Right eye</th>
                    </tr>
                </thead>
                    <tr>
                        <table class="table table-bordered">
                            <thead class="">
                                <tr>
                                    <th rowspan="2">DV</th>
                                    <th class="txt-center">SPH</th>
                                      <th class="txt-center">CYL</th>
                                      <th class="txt-center">AXIS</th>
                                      <th class="txt-center">VA</th>
                                  </tr>
                                    <tr>
                                        <td>
                                            <select type="dropdown" class="form-control" formControlName="sph_distance_re" required>
                                                <option value="" selected disabled>-Select-</option>
                                                <option *ngFor="let vaValue of distanceList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control" formControlName="cyl_distance_re"></td>
                                        <td><input type="text" class="form-control" formControlName="axis_distance_re"></td>
                                        <td><select type="dropdown" class="form-control" formControlName="va_distance_re">
                                            <option value="" selected disabled>-Select-</option>
                                            <option *ngFor="let vaValue of vaList" value="{{vaValue}}">{{vaValue}}</option>
                                        </select></td>
                                    </tr>
                                    <tr>
                                        <td><button class="btn btn-primary margin-20t" (click)="addRight()" [disabled]="!glassPrescriptionForm.controls.sph_add_re.value">Add</button></td>
                                        <td>
                                            <input type="text" class="form-control" formControlName="sph_add_re">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th rowspan="2">NV</th>
                                        <td><input type="text" class="form-control" formControlName="sph_near_re"></td>
                                        <td><input type="text" class="form-control" formControlName="cyl_near_re"></td>
                                        <td><input type="text" class="form-control" formControlName="axis_near_re"></td>
                                        <td><select type="dropdown" class="form-control" formControlName="va_near_re">
                                            <option value="" selected disabled>-Select-</option>
                                            <option *ngFor="let vaValue of vaList" value="{{vaValue}}">{{vaValue}}</option>
                                        </select></td>
                                    </tr>
                            </thead>
                        </table>
                    </tr>
            </table>
        </div>

        <div class="col-md-6">
            <table class="table table-bordered">
                <thead class="">
                    <tr>
                      <th scope="colgroup" class="txt-center">Left eye</th>
                    </tr>
                </thead>
                <tr>
                    <table class="table table-bordered">
                        <thead class="">
                            <tr>
                                <th rowspan="2">DV</th>
                                <th class="txt-center">SPH</th>
                                    <th class="txt-center">CYL</th>
                                    <th class="txt-center">AXIS</th>
                                    <th class="txt-center">VA</th>
                            </tr>
                            <tr>
                                <td>
                                    <select type="dropdown" class="form-control" formControlName="sph_distance_le" required>
                                        <option value="" selected disabled>-Select-</option>
                                        <option *ngFor="let vaValue of distanceList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" formControlName="cyl_distance_le"></td>
                                <td><input type="text" class="form-control" formControlName="axis_distance_le"></td>
                                <td><select type="dropdown" class="form-control" formControlName="va_distance_le">
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let vaValue of vaList" value="{{vaValue}}">{{vaValue}}</option>
                                </select></td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-primary margin-20t" (click)="addLeft()" [disabled]="!glassPrescriptionForm.controls.sph_add_le.value">Add</button></td>
                                <td>
                                    <input type="text" class="form-control" formControlName="sph_add_le">
                                </td>
                            </tr>
                            <tr>
                                <th rowspan="2">NV</th>
                                <td><input type="text" class="form-control" formControlName="sph_near_le"></td>
                                <td><input type="text" class="form-control" formControlName="cyl_near_le"></td>
                                <td><input type="text" class="form-control" formControlName="axis_near_le"></td>
                                <td><select type="dropdown" class="form-control" formControlName="va_near_le">
                                    <option value="" selected disabled>-Select-</option>
                                    <option *ngFor="let vaValue of vaList" value="{{vaValue}}">{{vaValue}}</option>
                                </select></td>
                            </tr>
                        </thead>
                    </table>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Lens Materials</label>
                <select type="dropdown" class="form-control" formControlName="lens_material">
                    <option value="" selected disabled>-Select-</option>
                    <option *ngFor="let vaValue of lensMaterialList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Lens Type</label>
                <select type="dropdown" class="form-control" formControlName="typeof_lens">
                    <option value="" selected disabled>-Select-</option>
                    <option *ngFor="let vaValue of lensTypeList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Contact Lens</label>
                <select type="dropdown" class="form-control" formControlName="contact_lens">
                    <option value="" selected disabled>-Select-</option>
                    <option *ngFor="let vaValue of contactLensList" value="{{vaValue.ref_code}}">{{vaValue.ref_desc}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>Remarks</label>
                <textarea rows="2" cols="10" class="form-control" formControlName="remarks"></textarea>
            </div>
        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 pointer txt-center">
        <button type="button" class="btn btn-success margin-10t" (click)="saveGlassPrescription()" *ngIf="!showPreviousTable" [disabled]="!visit_no">
            Save
        </button>
        <button type="button" class="btn btn-success margin-20t" (click)="back()" *ngIf="showPreviousTable">
            Back
        </button>
    </div>
    <div class="col-md-4"></div>
</div>
